#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.spanCol2 {
	grid-column: span 2;
}

form {
	display: grid;
	grid-template-columns: 2fr auto;
	margin: 1rem auto;
	max-width: 600px;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 8px;
}

section {
	margin: 2rem 0;
	display: flex;
	flex-direction: column;
}
